<!-- DYK MM Only -->
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-10-desktop is-offset-0-desktop">
              <h2 class="subtitle is-4 has-text-primary">
                  Did you know?
              </h2>
              <h1 class="title">
                SupraG Energy has exclusive access to two patent families covering the preparation of graphene hydrogel membranes and their applications in energy storage areas. 
              </h1>
              <p class="has-text-grey">
                <a href="/about/">Read more about us
                  <span class="icon">
                    <i class="fas fa-chevron-circle-right"></i>
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>