<!-- STATS -->
<section class="hero is-light has-text-primary">
  <div class="hero-body">
    <div class="container">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p>
                <span class="icon">
                  <i class="fab fa-2x fa-accusoft"></i>
                </span>
              </p>
              <p class="subtitle has-text-weight-bold">11 Million</p>
              <p class="heading">Items Recycled</p>

            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p>
                <span class="icon">
                  <i class="fas fa-2x fa-trash"></i>
                </span>
              </p>
              <p class="subtitle has-text-weight-bold">1,323 Tonnes</p>
              <p class="heading">Saved from landfill</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p>
                <span class="icon">
                  <i class="fas fa-2x fa-heartbeat"></i>
                </span>
              </p>
              <p class="subtitle has-text-weight-bold">99%</p>
              <p class="heading">Recovery Rate</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p>
                <span class="icon">
                  <i class="fas fa-2x fa-map-marker-alt"></i>
                </span>
              </p>
              <p class="subtitle has-text-weight-bold">3,500+</p>
              <p class="heading">Drop-off Points</p>
            </div>
          </div>
        </nav>
    </div>
  </div>
</section>