<!-- Recycling Matters -->
<section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-horizontal is-12">
            <div class="tile is-parent">
              <article class="tile is-child notification is-primary has-text-centered">
                  <p class="pt4 pb2">
                      <span class="icon">
                        <i class="fab fa-4x fa-accusoft"></i>
                      </span>
                    </p>
                <p class="title">Our Technology</p>
                <!--p class="subtitle">Fast and free online</p-->
                <div class="content">
                  <!-- Content -->
                </div>
              </article>
            </div>

            <div class="tile is-parent">
              <article class="tile is-child notification is-white has-text-centered">
                  <p class="pt4 pb2">
                      <span class="icon">
                        <i class="fal fa-4x fa-users"></i>
                      </span>
                    </p>
                <p class="title">Our People</p>
                <!--p class="subtitle">Fast and free online</p-->
                <div class="content">
                  <!-- Content -->
                </div>
              </article>
            </div>

            <div class="tile is-parent">
              <article class="tile is-child notification is-light has-text-centered">
                  <p class="pt4 pb2">
                      <span class="icon">
                        <i class="fas fa-4x fa-newspaper"></i>
                      </span>
                    </p>
                <p class="title">Latest News</p>
                <!--p class="subtitle">Fast and free online</p-->
                <div class="content">
                  <!-- Content -->
                </div>
              </article>
            </div>
            
            

          </div>

        </div>
    </div>
  </div>
</section>