
<!-- PARTNER FORM -->
<section class="hero">
  <div class="icon-bar hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6-desktop is-offset-0-desktop">

          <form netlify name="Partner Form" action="/thank-you/">

            <div class="field">
              <label class="label">Organisation Name</label>
              <div class="control has-icons-left has-icons-right">
                <input id="Organisation Name" name="Organisation Name" class="input" type="text" placeholder="Organisation Name">
                <span class="icon is-small is-left">
                  <i class="fas fa-building"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Organisation Type</label>
              <div class="control">
                <div name="Organisation Type" id="Organisation Type" class="select">
                  <select>
                    <option value>- Select -</option>
                    <option value="Retailer">Retailer</option>
                    <option value="Service Centre">Service Centre</option>
                    <option value="Repair Store">Repair Store</option>
                    <option value="Workplace">Workplace</option>
                    <option value="School">School</option>
                    <option value="Council">Council</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Contact First Name</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Your surname">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Contact Surname</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Your surname">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Partner Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Your email address" value="">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Shop Number/Level</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Shop Number/Level" name="Shop Number/Level" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Building Name</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Building Name" name="Building Name" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Street Number</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Street Number" name="Street Number" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Street Name</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Street Name" name="Street Name" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Shop Number/Level</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Shop Number/Level" name="Shop Number/Level" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Suburb</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Suburb" name="Suburb" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">State</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="State" name="State" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Postcode</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Postcode" name="Postcode" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Contact Number</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Contact Number" name="Contact Number" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Other Number</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Other Number" name="Other Number" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Email Address</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Email Address" name="Email Address" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Website Address</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Website Address" name="Shop Number/Level" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Your local council</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" id="Shop Number/Level" name="Shop Number/Level" type="text">
                <span class="icon is-small is-right">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <!--p class="help is-success"></p-->
            </div>

            <div class="field">
              <label class="label">Would you like your organisation to be listed as a public drop off?</label>
              <div class="control">
                <div name="Organisation Type" id="Organisation Type" class="select">
                  <select>
                    <option value>- Select -</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  I have read and agree to the <a href="/media/6994/amta_733_mm_termsandconditions_may09.pdf">Terms &amp; Conditions</a></a>
                </label>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  I agree to confer ownership of all mobile phones and mobile components collected for recycling to AMTA. I will not re-use or re-sell any mobile phones or mobile phones collected on behalf of MobileMuster.
                </label>
              </div>
            </div>

            <!--div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="question">
                  Yes
                </label>
                <label class="radio">
                  <input type="radio" name="question">
                  No
                </label>
              </div>
            </div-->

            <!--div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" placeholder="Type your message here..."></textarea>
              </div>
            </div-->

            <div netlify-recaptcha></div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
              <div class="control">
                <button class="button is-text">Cancel</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
