<!-- RECYCLING HERO -->
<section class="hero">
  <div class="hero-body">
    <div class="">
      <div class="columns is-vcentered">
        <div class="column is-6 is-marginless">
          <figure class="image is-marginless">
            <img src="i/graphene-opti-sm.jpg">
          </figure>
        </div>
        <div class="column is-6">
          <!--span class="tag is-light">
            <span class="icon">
              <i class="fas fa-recycle"></i>
            </span>
            <span class="">SINCE 2015</span>
          </span-->
          <h1 class="title">
              Graphene-based technology: the next generation energy storage solution.
          </h1>
          <h2 class="mt3 subtitle">
              Established in Melbourne, Australia in 2015.
          </h2>
          <p class="">
            <a href="" class="button is-medium is-primary">
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
              <span class="">Learn more &rarr;</span>
            </a>
          </p>
          <br>
          <!--div class="is-divider" data-content="OR"></div-->
          <div class="columns">
            <div class="column">
              <p class="">
                <a href="" target="_blank" class="is-primary">
                  <span class="">&nbsp;&nbsp;&nbsp;<span class="has-text-grey-light">Or,</span> read our tech specs</span>
                  <span class="icon">
                    <i class="fas fa-print"></i>
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</section>