<!-- Hero -->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <!-- Main container -->
      <div class="columns is-vcentered">
        <div class="column is-3 is-offset-0 is-vcentered">
          <span class="icon is-xl has-text-primary">
            <i class="fas fa-4x fa-mobile-alt"></i>
          </span>
          <span class="icon is-xl has-text-primary">
            <i class="fas fa-4x fa-lock-alt"></i>
          </span>
          <span class="icon is-xl has-text-primary">
            <i class="fas fa-4x fa-shield-check"></i>
          </span>
        </div>
        <div class="column is-9 measure-wide">
          <h1 class="title">
            MobileMuster is a safe, secure, and ethical phone recycling program
          </h1>
          <h2 class="subtitle">
            <span class="measure-narrow has-text-grey-light">
              We recycle all mobile phones, their batteries, chargers, tablets, smart watches, and accessories
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>