<!-- PARTNERSHIPS -->
   <section class="hero">
     <div class="hero-body">
       <div class="container">
         <div class="columns is-vcentered">
           <div class="column is-5">
             <figure class="image box is-marginless">
              <img src="i/graphene-opti-sm.jpg">
             </figure>
           </div>
           <div class="column is-6 is-offset-1">
             <span class="tag is-light">
               <span class="icon">
                 <i class="fas fa-handshake"></i>
               </span>
               <span class="">***</span>
             </span>
             <h1 class="title">
                Graphene-based technology: the next generation energy storage solution.
             </h1>
             <h2 class="subtitle">
                Established in Melbourne, Australia in 2015.
             </h2>
             <p class="">
               <a href="/partners/" class="button is-medium is-primary">
                 <span class="">Become a Partner</span>
                 <span class="icon">
                   <i class="fas fa-chevron-circle-right"></i>
                 </span>
               </a>
             </p>

           </div>
         </div>
       </div>
     </div>
   </section>