
  <a class="navbar-item pr2 is-hidden-mobile" href="https://twitter.com/SUPRAGenergy" target="_blank">
    <!--span class="icon is-small" style="color: #55acee;"-->
      <span class="icon is-small" style="color: #EA5055;">
      <i class="fab fa-lg fa-twitter"></i>
    </span>
  </a>
  <!--a class="navbar-item ph2" href="">
    <span class="icon is-small" style="color: #3b5998;">
      <span class="icon is-small" style="color: #EA5055;">
      <i class="fab fa-lg fa-facebook-f"></i>
    </span>
  </a-->
  <a class="navbar-item ph2" href="">
    <!--span class="icon is-small" style="color: #517fa4;"-->
      <span class="icon is-small" style="color: #EA5055;">
      <i class="fab fa-lg fa-instagram"></i>
    </span>
  </a>
  <a class="navbar-item pl2" href="">
    <!--span class="icon is-small" style="color: #007bb6;"-->
      <span class="icon is-small" style="color: #EA5055;">
      <i class="fab fa-lg fa-linkedin"></i>
    </span>
  </a>