<!-- Latest News -->
    <section class="section">
      <div class="container">

        <div class="tile is-ancestor">
          <div class="tile is-vertical is-12">

            <div class="tile is-parent">
              <article class="tile is-child notification is-primary">
                <p class="title">SupraG News</p>
                <p class="subtitle"></p>
                <div class="content">
                  <!-- Content -->
                </div>
              </article>
            </div>

            <div class="tile">

              <div class="tile is-parent">
                <article class="tile is-child box">
                  <small class="has-text-grey-light">
                    April 26, 2018
                    <span class="icon">
                      <i class="fas fa-newspaper"></i>
                    </span>
                  </small>
                  <p class="subtitle has-text-weight-bold">E-waste recycling paves way for greener future</p>
                    <hr>
                  <p>The partnership is initially targeting local councils in Victoria who are preparing for the e-waste landfill ban, coming into effect 1 July 2019 to tackle one of Australia’s fastest growing waste streams. From there the units will be rolled out nationally to local councils and selective retailers.</p>
                  <br>
                  <p>Research shows approximately 256,000 tonnes of e-waste will be produced in Victoria by 2035; and in this year alone, approximately six million old and unused phones across the state are sitting in drawers gathering dust.</p>
                  <br>
                  <p>Spyro Kalos, Recycling Manager from MobileMuster says, “We know that consumers are keen to recycle batteries along with their mobile phones and accessories in an environmentally sound way.</p>
                  <br>
                  <p>
                    <a class="">
                      <span class="">Read More</span>
                      <span class="icon"><i class="fas fa-chevron-circle-right"></i></span>
                    </a>
                  </p>
                </article>
              </div>

              <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                  <small class="has-text-grey-light">
                    April 20, 2018
                    <span class="icon">
                      <i class="fas fa-newspaper"></i>
                    </span>
                  </small>
                  <p class="subtitle">MobileMuster Committed to Working with Councils</p>
                  <hr>
                  <p>Recently in the media there have been a number of news stories about local councils stopping their curbside recycling services due to cost increases associated with China’s foreign waste ban.
                  </p>
                  <br>
                  <p>
                    <a class="">
                      <span class="">Read More</span>
                      <span class="icon"><i class="fas fa-chevron-circle-right"></i></span>
                    </a>

                  </p>
                </article>
                <article class="tile is-child box">
                  <small class="has-text-grey-light">
                    26 March 2018
                    <span class="icon">
                      <i class="fas fa-newspaper"></i>
                    </span>
                  </small>
                  <p class="subtitle">MobileMuster turns old mobiles into meals for people</p>
                  <hr>
                  <p>Over summer MobileMuster teamed up with OzHarvest to encourage recycling
                  </p>
                  <br>
                  <p>
                    <a class="">
                      <span class="">Read More</span>
                      <span class="icon"><i class="fas fa-chevron-circle-right"></i></span>
                    </a>
                  </p>
                </article>
              </div>

            </div>


          </div>

        </div>

      </div>
    </section>