<!-- DID YOU KNOW -->
        <section class="hero is-medium">
          <div class="hero-body">
            <div class="container">
              <div class="columns">
                <div class="column is-9-desktop is-offset-0-desktop">
                  <h2 class="subtitle is-4 has-text-primary">
                      Broken Phones
                  </h2>
                  <h1 class="title">
                    <span class="">If your mobile phone is broken and you can’t remove your data you can still safely and securely recycle it. </span>
                  </h1>
                  <p class="subtitle">MobileMuster ensures that any data left of your mobile phone is destroyed during the recycling process so you can feel confident no one can ever access your information in the future.</p>
                  <br>
                </div>
              </div>
    
            </div>
          </div>
        </section>