<!-- PARTNER WITH -->
        <section class="hero is-light has-text-primary">
          <div class="hero-body">
            <div class="container">
              <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p>
                      <span class="icon">
                        <i class="fas fa-2x fa-graduation-cap"></i>
                      </span>
                  </p>
                    <p class="subtitle has-text-weight-bold">Schools</p>
                    <p class="heading">Partnerships</p>
    
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p>
                      <span class="icon">
                        <i class="fas fa-2x fa-building"></i>
                      </span>
                    </p>
                    <p class="subtitle has-text-weight-bold">Business</p>
                    <p class="heading">Partnerships</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p>
                      <span class="icon">
                        <i class="fas fa-2x fa-university"></i>
                      </span>
                    </p>
                    <p class="subtitle has-text-weight-bold">Council</p>
                    <p class="heading">Partnerships</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p>
                      <span class="icon">
                        <i class="fas fa-2x fa-university"></i>
                      </span>
                    </p>
                    <p class="subtitle has-text-weight-bold">University</p>
                    <p class="heading">Partnerships</p>
                  </div>
                </div>
    
              </nav>
            </div>
          </div>
        </section>