<section class="section mb5">
          <div class="container">
    
            <div class="tile is-ancestor">
              <div class="tile is-vertical is-12">
                <div class="tile">
                  <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                      <article class="media">
                        <div class="media-left">
    
                        </div>
                        <div class="media-content">
                          <div class="content">
                            <p class="title">Drop off</p>
                            <p class="subtitle">At 3,500 locations</p>
                            <hr>
                            <p>Drop them off at any participating mobile phone retailer including your local Telstra, Optus, Vodafone, Virgin Mobile and Samsung store.</p>
                            <p>
                              <span class="icon has-text-primary">
                                <i class="fas fa-map-marker-alt"></i>
                              </span>
                              <a href="/recycling/locator/" class="">Find your closest drop-off
    
                              </a>
                            </p>
                          </div>
                        </div>
                        <div class="media-right">
                          <span class="icon has-text-primary">
                            <i class="fas fa-2x fa-map-marker-alt"></i>
                          </span>
                        </div>
                      </article>
                    </article>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <article class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                          <div class="content">
                            <p class="title">Print Label</p>
                            <p class="subtitle">And post for free</p>
                            <hr>
                            <p>Post them in for free using our mailing label. Follow the instructions and attach the label to a padded envelope or box.</p>
                            <p>
                              <span class="icon has-text-primary">
                                <i class="fas fa-print"></i>
                              </span>
                              <a href="/pdf/mobilemuster-mailing-label.pdf" class="" target="_blank">Download a print label
                              </a>
                            </p>
                          </div>
                        </div>
                        <div class="media-right">
                          <span class="icon has-text-primary">
                            <i class="fas fa-2x fa-print"></i>
                          </span>
                        </div>
                      </article>
                    </article>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <article class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                          <div class="content">
                            <p class="title">Free Satchel</p>
                            <p class="subtitle">From Australia Post</p>
                            <hr>
                            <p>Get a free MobileMuster satchel from your nearest Australia Post outlet. Find you closest Australia Post outlet here.</p>
                            <p>
                              <span class="icon has-text-primary">
                                <i class="fas fa-window-maximize"></i>
                              </span>
                              <a href="https://austpost.com.au/locate" class="" target="_blank">Find you closest Australia Post
                              </a>
                            </p>
                          </div>
                        </div>
                        <div class="media-right">
                          <span class="icon has-text-primary">
                            <i class="fas fa-2x fa-window-maximize"></i>
                          </span>
                        </div>
                      </article>
                    </article>
                  </div>
                </div>
                <div class="tile is-parent mt4">
                  <article class="tile is-child notification is-primary">
                    <!--p class="title">Recycling</p-->
                    <div class="columns is-vcentered">
                      <div class="column is-1 has-text-centered">
                        <span class="icon">
                          <i class="fas fa-2x fa-info-circle"></i>
                        </span>
                      </div>
                      <div class="column">
                        <strong>Remember to remove any data that you would like to keep before you recycle.</strong> When we receive your mobiles and accessories, everything will be recycled in a secure and safe process to the highest environmental standards. Nothing will be resold and any data left on mobiles will be destroyed through the recycling process.
                      </div>
                    </div>
                  </article>
                </div>
              </div>
    
          </div>
        </section>