        <!-- DID YOU KNOW -->
           <section class="hero is-medium">
             <div class="hero-body">
               <div class="container">
                 <div class="columns">
                   <div class="column is-9-desktop is-offset-0-desktop">
                     <h2 class="subtitle is-4 has-text-primary">
                         Our Recycling Process
                     </h2>
                     <h1 class="title">
                       We recover over 99% of materials from your mobile phone
                     </h1>
                   </div>
                  </div>
                  <div class="mv3 columns">
                    <div class="column is-12-desktop is-offset-0-desktop">
                     <div class="steps" id="stepsDemo">
                       <div class="step-item is-active is-primary">
                         <div class="step-marker">1</div>
                         <div class="step-details">
                           <p class="step-title">Tranporting</p>
                         </div>
                       </div>
                       <div class="step-item">
                         <div class="step-marker">2</div>
                         <div class="step-details">
                           <p class="step-title">Sorting</p>
                         </div>
                       </div>
                       <div class="step-item">
                         <div class="step-marker">3</div>
                         <div class="step-details">
                           <p class="step-title">Processing</p>
                         </div>
                       </div>
                       <div class="step-item">
                         <div class="step-marker">4</div>
                         <div class="step-details">
                           <p class="step-title">Materials Extracted</p>
                         </div>
                       </div>
                       <div class="steps-content is-size-6">
                          <div class="step-content has-text-centered">
                             <p class="is-4">When you drop off your old mobile phones for recycling they are collected and transported to TES’s recycling facilities in Melbourne, Sydney or Brisbane.</p>
                         </div>
                         <div class="step-content has-text-centered">
                           <p class="is-4">At the recycling facility the mobile phones are disassembled into their components. Nothing collected by the program is resold. Once disassembled the parts are sorted into the following: batteries, printed circuit boards, handsets, accessories, plastics, metals and packaging.</p>
                         </div>
                         <div class="step-content has-text-centered">
                           <p class="is-4">The components are processed separately to maximise resource recovery. Any data left on the device is destroyed through this process.</p>
                         </div>
                         <div class="step-content has-text-centered">
                           <p class="is-4">The materials recovered in the recycling process can be used in the manufacture of new products. For example the recycled plastic from the mobile phone cases is used to make shipping pallets and the lithium extracted from mobile phone batteries can be reused to make new batteries.</p>
                         </div>
                       </div>
                       <div class="steps-actions">
                         <div class="steps-action">
                           <a href="#" data-nav="previous" class="button is-light">See Previous Step</a>
                         </div>
                         <div class="steps-action">
                           <a href="#" data-nav="next" class="button is-primary">See Next Step</a>
                         </div>
                       </div>
                     </div>
                    </div>
                  </div>
    
                  <!--div class="columns">
                    <div class="column is-12-desktop is-offset-0-desktop">
                     <ul class="steps">
                       <li class="step-item is-completed is-primary">
                         <div class="step-marker">1</div>
                         <div class="step-details is-primary is-completed">
                           <p class="step-title">Tranporting</p>
                           <p>When you drop off your old mobile phones for recycling they are collected and transported to TES’s recycling facilities in Melbourne, Sydney or Brisbane.</p>
                         </div>
                       </li>
                       <li class="step-item is-primary is-completed">
                         <div class="step-marker">2</div>
                         <div class="step-details is-primary is-completed">
                           <p class="step-title">Sorting</p>
                           <p>At the recycling facility the mobile phones are disassembled into their components. Nothing collected by the program is resold. Once disassembled the parts are sorted into the following: batteries, printed circuit boards, handsets, accessories, plastics, metals and packaging.</p>
                         </div>
                       </li>
                       <li class="step-item is-primary is-completed">
                         <div class="step-marker">3</div>
                         <div class="step-details is-primary is-completed">
                           <p class="step-title">Processing</p>
                           <p>The components are processed separately to maximise resource recovery. Any data left on the device is destroyed through this process.</p>
                         </div>
                       </li>
                       <li class="step-item is-priamry is-completed">
                         <div class="step-marker">4</div>
                         <div class="step-details is-primary is-completed">
                           <p class="step-title">Materials Extracted</p>
                           <p>The materials recovered in the recycling process can be used in the manufacture of new products. For example the recycled plastic from the mobile phone cases is used to make shipping pallets and the lithium extracted from mobile phone batteries can be reused to make new batteries.</p>
                         </div>
                       </li>
                     </ul>
    
    
                     <p class="subtitle">MobileMuster partners with TES, a global leader in electronic waste recycling, to maximize recovery rates and ensure all the mobile phone components are processed in an environmentally responsible manner. Through our recycling over 99% of the materials in a mobile phone are recovered. This process reduces the impact of mobile phones on the environment, minimises the resources that are thrown away and promotes the development of a circular economy.</p>
    
                     <p class="subtitle">MobileMuster ensures that any data left of your mobile phone is destroyed during the recycling process so you can feel confident no one can ever access your information in the future.</p>
                     <br>
                   </div>
                 </div-->
    
               </div>
             </div>
           </section>