<!-- DID YOU KNOW -->
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-9-desktop is-offset-0-desktop">
              <h2 class="subtitle is-4 has-text-primary">
                  Did you know?
              </h2>
              <h1 class="title">
                <span class="">We recycle all mobile phones, their batteries &amp; chargers, tablets, smart watches, and accessories.</span>
              </h1>
              <br>
            </div>
          </div>
          <nav class="level has-text-primary">
            <div class="level-item has-text-centered">
              <div>
                <p>
                  <span class="icon">
                    <i class="fas fa-2x fa-mobile-alt"></i>
                  </span>
              </p>
                <p class="subtitle has-text-weight-bold">Phones</p>
                <p class="heading">All Brands</p>

              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p>
                  <span class="icon">
                    <i class="fas fa-2x fa-battery-full"></i>
                  </span>
                </p>
                <p class="subtitle has-text-weight-bold">*Batteries</p>
                <p class="heading">Mobile Only</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p>
                  <span class="icon">
                    <i class="fas fa-2x fa-tablet-alt"></i>
                  </span>
                </p>
                <p class="subtitle has-text-weight-bold">Tablets</p>
                <p class="heading">All brands</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p>
                  <span class="icon">
                    <i class="fas fa-2x fa-plug"></i>
                  </span>
                </p>
                <p class="subtitle has-text-weight-bold">Chargers</p>
                <p class="heading">All brands</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p>
                  <span class="icon">
                    <i class="fab fa-2x fa-nintendo-switch"></i>
                  </span>
                </p>
                <p class="subtitle has-text-weight-bold">*Watches</p>
                <p class="heading">Smart Watches</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p>
                  <span class="icon">
                    <i class="fas fa-2x fa-wifi"></i>
                  </span>
                </p>
                <p class="subtitle has-text-weight-bold">Wi-fi</p>
                <p class="heading">Mobile Devices</p>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>