{{- with . -}}
    {{- if eq "1" . }} is-1 {{- end -}}
    {{- if eq "2" . }} is-2 {{- end -}}
    {{- if eq "3" . }} is-3 {{- end -}}
    {{- if eq "4" . }} is-4 {{- end -}}
    {{- if eq "5" . }} is-5 {{- end -}}
    {{- if eq "6" . }} is-6 {{- end -}}
    {{- if eq "7" . }} is-7 {{- end -}}
    {{- if eq "8" . }} is-8 {{- end -}}
    {{- if eq "9" . }} is-9 {{- end -}}
    {{- if eq "10" . }} is-10 {{- end -}}
    {{- if eq "11" . }} is-11 {{- end -}}
    {{- if eq "12" . }} is-12 {{- end -}}
{{- end -}}