{{- with . -}}
    {{- if eq "building" . }} fas fa-building {{- end -}}
    {{- if eq "graduation-cap" . }} fas fa-graduation-cap {{- end -}}
    {{- if eq "heartbeat" . }} fas fa-heartbeat {{- end -}}
    {{- if eq "lock" . }} fas fa-lock-alt {{- end -}}
    {{- if eq "map-marker-alt" . }} fas fa-map-marker-alt {{- end -}}
    {{- if eq "map-pin" . }} fas fa-map-pin {{- end -}}
    {{- if eq "mobile" . }} fas fa-mobile-alt {{- end -}}
    {{- if eq "print" . }} fas fa-print {{- end -}}
    {{- if eq "recycle" . }} fas fa-recycle fa-spin {{- end -}}
    {{- if eq "shield" . }} fas fa-shield-check {{- end -}}
    {{- if eq "trash" . }} fas fa-trash {{- end -}}
    {{- if eq "university" . }} fas fa-university {{- end -}}
    {{- if eq "university" . }} fas fa-university {{- end -}}
    {{- if eq "twitter" . }} fab fa-twitter {{- end -}}
    {{- if eq "facebook" . }} fab fa-facebook {{- end -}}
    {{- if eq "instagram" . }} fab fa-instagram {{- end -}}
    {{- if eq "linkedin" . }} fab fa-linkedin {{- end -}}
    {{- if eq "accusoft" . }} fab fa-accusoft {{- end -}}
{{- end -}}