<!-- BAR PARTNERS -->
<section class="hero is-light has-text-primary">
  <div class="icon-bar hero-body">
    <div class="container">
      <div class="columns is-multiline is-mobile has-text-centered">
        <div class="column is-half-mobile is-one-quarter-tablet">
          <p>

              <span class="icon">
                <i class="fa-2x {{ partial "blocks/meta/icons" .Params.icon_1 }} "></i>
              </span>

          </p>
          <p class="subtitle has-text-weight-bold">
            {{- with .Params.icon_1_top_text -}}{{ markdownify . }}{{- end -}}
          </p>
          <p class="heading">
            {{- with .Params.icon_1_bottom_text -}}{{ markdownify . }}{{- end -}}
          </p>
        </div>
        <div class="column is-half-mobile is-one-quarter-tablet">
          <p>

              <span class="icon">
                <i class="fa-2x {{ partial "blocks/meta/icons" .Params.icon_2 }} "></i>
              </span>

          </p>
          <p class="subtitle has-text-weight-bold">
            {{- with .Params.icon_2_top_text -}}{{ markdownify . }}{{- end -}}
          </p>
          <p class="heading">
            {{- with .Params.icon_2_bottom_text -}}{{ markdownify . }}{{- end -}}
          </p>
        </div>
        <div class="column is-half-mobile is-one-quarter-tablet">
          <p>

              <span class="icon">
                <i class="fa-2x {{ partial "blocks/meta/icons" .Params.icon_3 }} "></i>
              </span>

          </p>
          <p class="subtitle has-text-weight-bold">
            {{- with .Params.icon_3_top_text -}}{{ markdownify . }}{{- end -}}
          </p>
          <p class="heading">
          {{- with .Params.icon_3_bottom_text -}}{{ markdownify . }}{{- end -}}
          </p>
        </div>
        <div class="column is-half-mobile is-one-quarter-tablet">
          <p>

              <span class="icon">
                <i class="fa-2x {{ partial "blocks/meta/icons" .Params.icon_4 }} "></i>
              </span>

          </p>
          <p class="subtitle has-text-weight-bold">
            {{- with .Params.icon_4_top_text -}}{{ markdownify . }}{{- end -}}
          </p>
          <p class="heading">
            {{- with .Params.icon_4_bottom_text -}}{{ markdownify . }}{{- end -}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>