<section class="section content-section">
    <div class="container">
        <div class="content">
            <div class="columns">
                
                {{ range .Params.column_content }}
                    <div class="column">
                        {{ .column_content }}
                    </div>
                {{ end }}

                
                <div class="column">
                    {{ .blocks.column_content.forms }}
                </div>
            
                
            </div>
        </div>
    </div>
</section>